
/* sets variables for things that like to repeat themselves */
:root{
    --background-color: white;
    --background-color2: #414141;
    --text-color: #041e3a;
    --text-color2: #89CFF0;
    --text-style: sans-serif; 
}

* {
    color: var(--text-color);
    letter-spacing: 2px;
}

body {
    background-color: var(--background-color);
}

h1 {
    font-family: var(--text-style);
    font-size: 36px;
}

h2 {
    font-family: var(--text-style);
    font-size: 2vw;
}

h3 {
    font-family: var(--text-style);
}

p {
    font-family: var(--text-style);
    line-height: 1em;
}

/* this is where the nav content is styled */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color2);
    padding: 0 50px;
    height: 75px;
}

nav span {
    background-color: var(--text-color2);
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

nav ul li a {
    list-style: none;
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-underline-offset: 10px;
    padding: 5px 10px;
    font-family: var(--text-style);
    font-weight: bold;
    color: var(--text-color2);
}


/* hero banner is added */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 45px;
}

.hero-text span {
    background-color: #89CFF0;
}

/* main section begins here and also styling for the hero banner section */
main {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-sections {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

aside {
    border-right: 3px solid var(--text-color);
    padding: 0 20px 0 0;
    text-align: right;
    width: 15%;
}

.contents {
    width: 85%;
    padding: 0 20px 0 0;
}

/* about me sectiong starts here */
#about-me .contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-me .contents img {
    width: 20%;
    min-width: 170px;
    height: fit-content;
    margin-right: 45px;
    align-self: center;
    padding-left: 50px;
}

#about-me .contents p {
    font-size: 16px;
    font-weight: 600;
}

/* work section starts here */
#work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
}

#work a {
    text-decoration: none;
    margin-bottom: 20px;

}

.work-description {
    background-color: var(--text-color2);
    width: fit-content;
    padding: 10px 30px 10px 20px;
    position: relative;
    top: 100px;
}

#Horiseon .work-desc {
    top: 300px;
}

.work-description p{
    color: var(--text-color);
    font-weight: bolder;
}

/* styles my projects */
.my-projects {
    width: 50%;
    height: 200px;
}

/* styles my main project */
.my-projects:first-child {
    width: 100%;
    height: 400px;
    
}

/* adds the pictures for the projects */
#Horiseon {
    background-image: url("../images/Horiseon.jpg");
    background-size: 100% auto;
}

#Horiseon:hover {
    background-image: url("../images/Horiseon.jpg");
}

#prework-study-guide {
    background-image: url("../images/PreWorkStudyGuide.jpg");
    background-size: 100% auto;
}

#prework-study-guide:hover {
    background-image: url("../images/PreWorkStudyGuide.jpg");
}

#clock {
    background-image: url("../images/clock.jpg");
    background-size: 100% auto;
}

#clock:hover {
    background-image: url("../images/clock.jpg");
}


/* styles my contact information */
.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px;
}

#contact-me ul li {
    margin: 0 30px 0 0;
}

#contact-me ul li a {
    color: var(--text-color2);
    font-family: var(--text-style);
    font-weight: 700;
    text-decoration: none;
}

/* styles the footer */
footer {
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}

footer p {
    margin-top: 10px;
}

/* media queries for tablets*/
@media screen and (max-width:992px) {
    h2 {
        font-size: 1.5em;
    }
    .hero {
        height: 200px;
    }

    .hero-text {
        height: 200px;
        
    }

    .page-section {
        flex-direction: column;
    }
    
    aside {
        border-bottom: 3px solid var(--text-color);
        border-right: none;
        padding: 0 0 10px 0;
        text-align: left;
        width: 30%;
    }
    
    .contents {
        width: 100%;
        padding: 0 20px 0 0;
    }
    #about-me .contents {
        flex-direction: column;
    }
    
    #about-me .contents img {
        margin-right: 0px;
        margin-bottom: 20px;
        align-self: flex-start;
    }
}

/* media queries for mobile devices */
@media screen and (max-width:768px) {
    nav {
        flex-direction: wrap;
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        display: none;
    }
    
    .hero {
        height: 200px;
    }
    
    .hero-text {
        height: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about-me .contents img {
        margin: 0 auto 18px auto;
    }
}